body{
    color:black;
    background:#EBEBEB;
    font-family: 'Raleway', sans-serif;
}
.mysideNav a{
    font-size: 35px;
    text-decoration:none;
    text-decoration: none;
    display: block;
    padding-top: 47px;
    text-align: center;
    padding-bottom: 40px;
    background-color: black;
    color: rgba(255,255,255,0.5 );
    transition:0.3s ease-out;
}
.mysideNav{
    border:2px solid black;
    display:block;  
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0px;
    top: 0;
    left: 0;
    position: fixed;
}
#sideNav{
    position: fixed;
}
.mysideNav a:hover{
    color: white; 
    transition: 0.5s;
}
#main{
    transition: margin-left 0.5s;
}
#load{
    border:black 5px solid;
    border-top:5px transparent solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    display: flex;
    animation:spin 1s linear infinite;
}
    @keyframes spin{
        100%{
            transform:rotate(360deg);
        }
    }

.center{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}