html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}
body::-webkit-scrollbar{
    display: none;
}
.mysideNav::-webkit-scrollbar{
    display: none;
}
body{
    color:black;
    background:#EBEBEB;
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}
.mysideNav a{
    font-size:4.6vh;
    text-decoration:none;
    text-decoration: none;
    display: block;
    padding: 8vh;
    text-align: center;
    background:#000;
    color: rgba(255,255,255,0.5 );
    transition:0.3s ease-out;
}
.mysideNav{
    border:2px solid black;
    display:block;  
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0px;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
}
#sideNav{
    position: fixed;
}
.mysideNav a:hover{
    color: white; 
    transition: 0.5s;
}
#main{
    transition:0.5s;
    margin:0;
    padding:0;
    width:100%;
}
#load{
    border:black 5px solid;
    border-top:5px transparent solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    display: flex;
    animation:spin 1s linear infinite;
}
    @keyframes spin{
        100%{
            transform:rotate(360deg);
        }
    }

.center{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
.heading{
    text-align:center;
    font-size: 10vh;
    width:max-content;
    margin-left: 40%;
    margin-top: -10vh;
}
.card-container{
    overflow-x: scroll;
    width:100%;
    display:flex;
    padding: 3rem;
}
.card{
    height: max-content;
    margin:2vh;
    box-shadow: -1.5rem -1rem 5rem rgba(0, 0, 0 , 0.1) ;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 1vh;
}

.img-card{
    height:44vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    background: rgb(0, 0, 0);
    transition:0.4s ease-in-out;
}
.paral{
    margin-top: 40px;
    height: 90vh;
    background: url(./resource/sneaker-cl1.jpg)center / cover fixed ;
    color: #fff;
    width: 100%;
}
.card-title{
    font-size: 30px;
    background: rgba(255, 255, 255, 0);
}
.card:hover .img-card{
    height: 50vh;
    transition:0.5s;
}
.icon{
    font-size: 5vh;
    margin-left: 30%;
    margin-bottom: 10vh;
    overflow-x: hidden;
    cursor: pointer;
}
.onScroll-card{
    transition: 0.5s;
    opacity: 1;
}
.button-container{
    width:60vh;
    height:10vh;
    margin-left: 78%;
    margin-top: -8%;
}
#button{
    font-size: 3vh;
    cursor: pointer;
    margin-top: 0vh;
    margin-left: 3vh;
    font-family: 'Raleway', sans-serif;  
    font-weight: 900;
    background:#272727;
    color:white;
    border-radius: 10vh;
    padding:1.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    transition: 0.3s ease-in-out;
    display: inline;
    border:0px transparent solid;
}
#button:hover{
    color: #272727;
    background:white;
    border:0.5px solid black;
    transition: 0.5s ease-in-out;
}
.large-img{
    height:75vh;
    margin-left: 7vh;
    transition: 0.3s ease-in-out;
    border: 1px transparent solid;
}
.large-cards{
    height:90vh;
}
.one{
    height: 75vh;
}
.text{
    width:50vh;
    padding-left:10vh;
    text-align: center;
}
.dior{
    height:80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./resource/dior-cactusjack.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    margin:0;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
    background:white;
    padding:1.5vh;
    z-index: 10;
}
.overlay{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 5;
}
.modal-2{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
    background:white;
    padding:2vh;
    z-index: 10;
}
.overlay-2{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index: 5;
}
.opacity{
    opacity:0;
}
.hidden{
    display:none;
}
.close-modal{
    font-size:4.6vh;
    text-decoration:none;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    transition:0.3s ease-out;
    border: 1px transparent solid;
    background:transparent;
    cursor: pointer;
}
.close-modal-2{
    font-size:4.6vh;
    text-decoration:none;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    transition:0.3s ease-out;
    border: 1px transparent solid;
    background:transparent;
    cursor: pointer;
}
.large-img:hover{
    border: 10px transparent solid;
    transition: 0.45s  ;
}
.main-head , .sub-heading{
    text-align: center;
    margin: 0;
}
.main-head{
    font-size: 5vh;
    
}
input{
    font-weight: 900;
    font-family: 'Raleway', sans-serif; 
    padding:1.5vh;
    width: 22vw;
    font-size:2.5vh ;
    border-radius: 10vh;
    border: 1px grey solid;
    margin-top: 0.5vh;
}
form{
    margin-left: 30vh;
}
.btn {
    margin-left: 0vh;
    width: 10vw;
    background: black;
    border:0px transparent solid;
    padding:1vh;
    color:white;
    border-radius: 10vh;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background:white;
    color:black;
    border:1px rgba(0, 0, 0, 1) solid;
    transition: 0.3s;
}
.login-red{
    text-align:center;
    font-size: 2.5vh;
    font-weight: 900;
    margin:0;
}
.login-red a:hover{
    text-decoration: underline;
}
.card-container::-webkit-scrollbar{
    display:none;
}
.card-container:hover.card-container::-webkit-scrollbar{
        height: 6px;
        width: 1px;
        background: rgb(0, 0, 0);
        display: flex;
}
.card-container::-webkit-scrollbar-thumb:horizontal{
        background: rgb(2,255,78);
background: linear-gradient(90deg, rgba(2,255,78,1) 0%, rgba(154,212,214,1) 100%);
        border-radius: 10px;
}
.login-head{
    text-align: center;
}
#submit-login{
    margin-left:10vh ;
}
.login-forgot-pass{
    margin-left:-30vh ;
}
i{
    font-size: 3vh;
    cursor:pointer;
    margin:1vh;
}
.cactus-jack{
    background: rgb(0, 0, 0);
column-count: 2 ;
color: white;
font-family: 'lemon_milkbold_italic';
margin: 0;
}
.cactus-title{
    padding-top: 10vh;
}
.cactus-button{
    margin-left: 0vh;
    width: 15vw;
    background:white;
    border:0px transparent solid;
    padding:2vh;
    color:rgb(0, 0, 0);
    border-radius: 10vh;
    cursor:pointer;
    transition: 0.3s ease-in-out; 
    font-family: 'lemon_milkbold_italic';
    font-size: 3vh;
    margin-top: 2vh;
}
.cactus-button:hover{
    background: linear-gradient(90deg, rgb(192, 138, 90) 0%, rgb(146, 91, 75) 100%);
    color:rgb(255, 255, 255);
    border:1px rgba(0, 0, 0, 1) solid;
    transition: 0.3s;
}
.content-midpage{
    width:100%;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    background: black;
    color: white;
}
.content-midpage img{
    height: 100vh;
    margin-left: 0vh;
    z-index: 0;
}
.display-scrollbar:hover.display-scrollbar::-webkit-scrollbar{
    display: none;
}
.dior-content{
    /* background: rgb(179,211,225);
background: linear-gradient(90deg, rgba(179,211,225,1) 0%, rgba(231,235,250,1) 100%); */
background:linear-gradient(rgba(0, 0, 0, 0.3) , rgba(255, 255, 255, 0.1)),url('./resource/steven-su-_54S942DIsA-unsplash.jpg')center / cover fixed;
}
.footer{
    background:black;
    color:white;
    width: 100%;
    height: 50vh;
}
footer a{
    color:white;
}
.backToTop{

}