html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}
body::-webkit-scrollbar{
    display: none;
}
.mysideNav::-webkit-scrollbar{
    display: none;
}
body{
    color:rgb(255, 255, 255);
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url('./resource/121.jpg');
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:black;
}
.mysideNav a{
    font-size:4.6vh;
    text-decoration:none;
    text-decoration: none;
    display: block;
    padding: 8vh;
    text-align: center;
    background:#000;
    color: rgba(255,255,255,0.5 );
    transition:0.3s ease-out;
}
.mysideNav{
    border:2px solid black;
    display:block;  
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0px;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
}
#sideNav{
    position: fixed;
}
.mysideNav a:hover{
    color: white; 
    transition: 0.5s;
}
#main{
    transition:0.5s;
    margin:0;
    padding:0;
    width:100%;
}
#load{
    border:black 5px solid;
    border-top:5px transparent solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    display: flex;
    animation:spin 1s linear infinite;
}
    @keyframes spin{
        100%{
            transform:rotate(360deg);
        }
    }

.center{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
.heading{
    text-align:center;
    font-size: 10vh;
    width:max-content;
    margin-left: 40%;
    margin-top: -8vh;
}
.card-container{
    overflow-x: scroll;
    width:100%;
    display:flex;
    padding: 1rem;
}
.card{
    height: 80vh;
    width:48vw;
    margin:10px;
    box-shadow: -1.5rem -1rem 5rem rgb(93, 88, 80) ;
    background: rgb(0, 0, 0);
    color: white;
    border-radius:20px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
}
.card:hover .img-card{
    width:46vw;
    transition:0.2s;
}
.img-card{
    width:45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    background: rgba(0, 0, 0, 0);
    transition:0.4s ease-in-out;
    border-radius:20px;
}
.paral{
    margin-top: 40px;
    height: 100vh;
    background: transparent ;
    color: rgb(255, 255, 255);
    background:white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    font-size:3rem;
    margin:5%;
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)),url('./resource/main-1.gif')center;
    box-shadow: -2.5rem -2rem 0rem rgba(255, 255, 255, 0.233) ;
}
.paral h1{
    border:1px solid white;
    background:rgba(248, 248, 248, 0.616);
    color:black;
    padding:1rem;
    padding-left: 20%;
    padding-right:20%;
}
.card-title{
    font-size: 30px;
    background: rgba(255, 255, 255, 0);
}

.icon{
    font-size: 5vh;
    margin-left: 30%;
    margin-bottom: 10vh;
    overflow-x: hidden;
    cursor: pointer;
}
.onScroll-card{
    transition: 0.5s;
    opacity: 1;
}
.button-container{
    width:60vh;
    height:10vh;
    margin-left: 78%;
    margin-top: -8%;
}
#button{
    font-size: 3vh;
    cursor: pointer;
    margin-top: 3rem;
    margin-left: 3vh;
    font-family: 'Raleway', sans-serif;  
    font-weight: 900;
    background:#272727;
    color:white;
    border-radius: 10vh;
    padding:1.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    transition: 0.3s ease-in-out;
    display: inline;
    border:0px transparent solid;
}
#button:hover{
    color: #272727;
    background:white;
    border:0.5px solid black;
    transition: 0.5s ease-in-out;
}
.one{
    height: 75vh;
}
.text{
    width:50vh;
    padding-left:10vh;
    text-align: center;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
    background:white;
    padding:1.5vh;
    z-index: 10;
    animation:animatetop 0.3s linear ;
    animation-fill-mode: forwards;
}
@keyframes animatetop {
  from {opacity: 0}
  to {opacity: 1}
}
.overlay{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 5;
}
.modal-2{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
    background:white;
    padding:2vh;
    z-index: 10;
    animation:animatetop 0.3s linear ;
    animation-fill-mode: forwards;
}
.overlay-2{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index: 5;
}
.opacity{
    opacity:0;
}
.hidden{
    display:none;
}
.close-modal{
    font-size:4.6vh;
    text-decoration:none;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    transition:0.3s ease-out;
    border: 1px transparent solid;
    background:transparent;
    cursor: pointer;
}
.close-modal-2{
    font-size:4.6vh;
    text-decoration:none;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    transition:0.3s ease-out;
    border: 1px transparent solid;
    background:transparent;
    cursor: pointer;
}
.main-head , .sub-heading{
    text-align: center;
    margin: 0;
}
.main-head{
    font-size: 5vh;
    
}
input{
    font-weight: 900;
    font-family: 'Raleway', sans-serif; 
    padding:1.5vh;
    width: 22vw;
    font-size:2.5vh ;
    border-radius: 10vh;
    border: 1px grey solid;
    margin-top: 0.5vh;
}
form{
    margin-left: 30vh;
}
.btn {
    margin-left: 0vh;
    width: 10vw;
    background: black;
    border:0px transparent solid;
    padding:1vh;
    color:white;
    border-radius: 10vh;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background:white;
    color:black;
    border:1px rgba(0, 0, 0, 1) solid;
    transition: 0.3s;
}
.login-red{
    text-align:center;
    font-size: 2.5vh;
    font-weight: 900;
    margin:0;
}
.login-red a:hover{
    text-decoration: underline;
}
.card-container::-webkit-scrollbar{
    display:none;
}

.card-container::-webkit-scrollbar{
        display: none;
}
.login-head{
    text-align: center;
}
#submit-login{
    margin-left:10vh ;
}
.login-forgot-pass{
    margin-left:-30vh ;
}
i{
    font-size: 3vh;
    cursor:pointer;
    margin:1vh;
}


@media screen and (max-width:576px){
    body{
        background:red;
        max-width: 576px;
        overflow-x: hidden;
    }
    .heading{
        font-size: 5vh;
        margin: 0;
        padding-left: 15vh;
        width: max-content;
        margin-top: -5vh;
    }
    #button{
        margin: 0.5vh;
        background:black;
        font-size: 1.5vh;
        width:12vh;
        padding:1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    }
    .button-container{
        max-width:12vh;
        margin-top: -15%;
        margin-left: 70%;
    }
    .paral{
        background: url(./resource/sneaker-cl1.jpg)center / cover  ;
        background-attachment: fixed;
    }
    .card{
        margin: 0;
        margin-left: 1vh;
    }
    .content-midpage{
        max-width:576px;
        overflow: hidden;
    }
    .content-midpage img{
        height:250px;
        margin: 0vh;
    }
    .one{
        height:65vh;
    }
    
    .card-container{
        padding:5rem;
    }
    .modal{
        top:50%;
        left:50%;
        width:400px;
    }
    form{
        margin-left: 10vw;
    }
    input{
        width:80vw;
    }
    .btn{
        width:20vw;
    }
    .modal-2{
        top:50%;
        left:50%;
        width:380px;
    }
    .modal-2 input{
        margin-left:-6vw;
    }
    .login-forgot-pass{
        margin-left: -50px;;
    }
    #submit-login{
        margin-left: 15vh;
    }
}   
footer{
    color:rgb(0, 0, 0);
    column-count: 2;
    background:rgb(235, 231, 231);
    height:8.1%;
    display:flex;
}
footer ul{
    font-size: 1.5rem;
    font-weight: 900;
}
#ul-list{
    width:60%;
    
    display:flex;
}
footer ul li{
    margin:18px;
}
.list-item  a{
    font-size:1.1rem;  
    color:#585858; 
    letter-spacing: 2px;
    padding:8px;
    transition:0.5s ease-in-out;
}
.ul-list-header{
    font-size:2rem;
    letter-spacing: 2px;
}
footer .ul-list-header a{
    color:rgb(0, 0, 0);
    
}
.list-item a:hover{
    color:rgb(0, 0, 0);
    transition:0.5s;
    border:0.5px solid rgb(0, 0, 0);
}
.ul-list-header a:hover{
    text-decoration:underline;  
}
/* .icons-maps{
    width:30%;
} */
#list-1{
    width:50%;
}
#list-2{
    width:50%;  
}
.icon-container{
    display:flex-end;
    align-items: right;
    justify-content: right;
    text-align: right;
    align-self: right;
    justify-self:right;
    width:650px;
}
.icon-container i{
    color:gray;
    font-size: 2.5rem;
    transition:0.3s ease-in-out;
}
.icon-container i:hover{
    color:rgb(0, 0, 0);
    transition:0.3s;
}