html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    transition:0.5s ease-in-out;
}
body::-webkit-scrollbar{
    display: none;
}
.mysideNav::-webkit-scrollbar{
    display: none;
}
body{
    color:black;
    background:#EBEBEB;
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:black;
}
.mysideNav a{
    font-size:4.6vh;
    text-decoration:none;
    text-decoration: none;
    display: block;
    padding: 8vh;
    text-align: center;
    background:#000;
    color: rgba(255,255,255,0.5 );
    transition:0.3s ease-out;
}
.mysideNav{
    border:2px solid black;
    display:block;  
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0px;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
}
#sideNav{
    position: fixed;
}
.mysideNav a:hover{
    color: white; 
    transition: 0.5s;
}
#main{
    transition:0.5s;
    margin:0;
    padding:0;
    width:100%;
}
#load{
    border:black 5px solid;
    border-top:5px transparent solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    display: flex;
    animation:spin 1s linear infinite;
}
    @keyframes spin{
        100%{
            transform:rotate(360deg);
        }
    }
.center{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
.heading{
    text-align:center;
    font-size: 10vh;
    width:max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    margin-left: 40%;
    margin-top: -8vh;
}
.shoe-container-slider{
    border:0.5px solid black;
    height: max-content;
    margin:80px;
    display: flex;
}
.shoe-img{
    width:65%;
    border: 0.5px solid black;
}
.shoe-img img{
    width: 45%;
    margin:18px;
    display:inline-flex; 
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition:0.5s ease-in-out;

}
.shoe-content{
    width:35%;
    border: 2px solid black;
    margin: 20px;
}
.shoe-img img:hover{
    width: 46%;
    transition: 0.3s all;
}
.title-shoe-type{
    font-size: 20px;
    font-weight: 400;
}
.head-shoe{
    font-weight:1500;
}
.shoe-title-price{
    text-align:right;
}
.price-show{
    font-size: 40px;
}
.description{
    color:grey;
    font-size: 20px;
}
.btnContainer{
    margin-top: 50px;
}
.btn-style {
    padding: 15px;
    cursor: pointer;
    font-size: 2vh;
    border:0.5px solid rgb(0, 0, 0);
    margin:10px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}
.btn-style:hover{
    background-color: rgb(231, 228, 228);
}
.btn-style.active {
  background-color: #666;
  color: white;
}
