html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    transition:0.5s ease-in-out;
}
body::-webkit-scrollbar{
    display: none;
}
.mysideNav::-webkit-scrollbar{
    display: none;
}
body{
    color:rgb(0, 0, 0);background: rgb(27,204,181);
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:black;
}
.mysideNav a{
    font-size:4.6vh;
    text-decoration:none;
    text-decoration: none;
    display: block;
    padding: 8vh;
    text-align: center;
    background:#000;
    color: rgba(255,255,255,0.5 );
    transition:0.3s ease-out;
}
.mysideNav{
    
    display:block;  
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0px;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
}
#sideNav{
    position: fixed;
}
.mysideNav a:hover{
    color: white; 
    transition: 0.5s;
}
#main{
    transition:0.5s;
    margin:0;
    padding:0;
    width:100%;
}
#load{
    border:black 5px solid;
    border-top:5px transparent solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    display: flex;
    animation:spin 1s linear infinite;
}
    @keyframes spin{
        100%{
            transform:rotate(360deg);
        }
    }
.center{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
.heading{
    text-align:center;
    font-size: 10vh;
    width:max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    margin-left: 40%;
    margin-top: -8vh;
}
.shoe-container-slider{
    
    height: max-content;
    margin:80px;
    display: flex;
}
.shoe-img{
    width:65%;
}
.shoe-img img{
    width: 45%;
    margin:18px;
    display:inline-flex; 
    background: rgb(0, 0, 0);
    cursor: pointer;
    transition:0.5s ease-in-out;
}
.shoe-content{
    width:35%;
    
    margin: 20px;
}
.shoe-img img:hover{
    width: 46%;
    transition: 0.3s all;
}
.title-shoe-type{
    font-size: 20px;
    font-weight: 400;
    
}
.head-shoe{
    font-weight:1500;
}
.shoe-title-price{
    text-align:right;
}
.price-show{
    font-size: 40px;
}
.description{
    color:grey;
    font-size: 20px;
}
.btnContainer{
    margin-top: 50px;
    margin:2vw; 
    
}
.btn-style {
    padding: 15px;
    font-size: 2vh;
    border:1px solid rgb(255, 255, 255);
    margin:10px;
    font-weight:1000;
    font-family: 'Raleway', sans-serif;
    padding-left:40px;
    padding-right:40px;
    border-radius:10px;
    transition:0.5s ease-in-out;
    margin-top:10px; 
    max-width:full-width;
    overflow:hidden;
    
}
.btn-style:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    transition:0.3s;
    cursor:pointer;
}
.size-chart{
    display:flex;
    overflow-y: none;
    
}
.size-chart a {
    font-weight: 900;
    font-size: 1.2rem;
    color: gray;
    text-decoration: underline;
    margin:0;
    padding:0;
    display:inline-flex;
    margin-left: 55%;
    margin-top: 20px;
}

#button{
    font-size: 3vh;
    cursor: pointer;
    margin-top: 0vh;
    margin-left: 3vh;
    font-family: 'Raleway', sans-serif;  
    font-weight: 900;
    background:#272727;
    color:white;
    border-radius: 10vh;
    padding:1.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    transition: 0.3s ease-in-out;
    display: inline;
    border:0px transparent solid;
}
#button:hover{
    color: #272727;
    background:white;
    border:0.5px solid black;
    transition: 0.5s ease-in-out;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
    background:white;
    padding:1.5vh;
    z-index: 10;
    animation:animatetop 0.3s linear ;
    animation-fill-mode: forwards;
    color: black;
    
}

.overlay{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 5;
}
.modal-2{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
    background:white;
    padding:2vh;
    z-index: 10;
    animation:animatetop 0.3s linear ;
    animation-fill-mode: forwards;
}
.overlay-2{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index: 5;
}
@keyframes animatetop {
  from {opacity: 0}
  to {opacity: 1}
}
.opacity{
    opacity:0;
}
.hidden{
    display:none;
}
.close-modal{
    font-size:4.6vh;
    text-decoration:none;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    transition:0.3s ease-out;
    border: 1px transparent solid;
    background:transparent;
    cursor: pointer;
}
.close-modal-2{
    font-size:4.6vh;
    text-decoration:none;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    transition:0.3s ease-out;
    border: 1px transparent solid;
    background:transparent;
    cursor: pointer;
}

input{
    font-weight: 900;
    font-family: 'Raleway', sans-serif; 
    padding:1.5vh;
    width: 22vw;
    font-size:2.5vh ;
    border-radius: 10vh;
    border: 1px grey solid;
    margin-top: 0.5vh;
}
form{
    margin-left: 30vh;
    color: black;
}
.btn {
    margin-left: 0vh;
    width: 10vw;
    background: black;
    border:0px transparent solid;
    padding:1vh;
    color:white;
    border-radius: 10vh;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background:white;
    color:black;
    border:1px rgba(0, 0, 0, 1) solid;
    transition: 0.3s;
}
.login-red{
    font-size: 2.5vh;
    font-weight: 900;
    margin:0;
    margin-left:8%;
    
}
.login-red a:hover{
    text-decoration: underline;
}   
.login-head{
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
}
#submit-login{
    margin-left:12%;
}
i{
    font-size: 3vh;
    cursor:pointer;
    margin:1vh;
}
.main-head , .sub-heading{
    text-align: center;
    margin: 0;
}
.main-head{
    font-size: 5vh;
}
#sign-up-red{
    text-align: center;
    margin-left: -50px;
}
.button-container{
    width:60vh;
    height:10vh;
    margin-left: 78%;
    margin-top: -8%;
}  

.add-button-style{
    padding: 20px;
    width: 22vw;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    margin-left: 15%;
    margin-top:10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 50px;
    border: 1px solid rgb(131, 131, 131);
    background:#ffffff;
    color:rgb(0, 0, 0);
    cursor:pointer;
    transition:0.3s ease-in-out;
}
.add-button-style:hover{
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    transition:0.3s;
}
.add-button-style i{
    margin:0;
    padding-left:1vh;
}
.descrip-shoe{
    margin:40px;
    line-height:1.5;
}
.add-button-style:hover #heart-icon{
    color:red;
}
.descp-head{
    text-align: center;
}

.card-container{
    overflow-x: scroll;
    width:95%;
    display:flex;
    padding: 3rem;
    margin:20px;
}
.card{
    height: max-content;
    margin:2vh;
    box-shadow: -1.5rem -1rem 5rem rgba(0, 0, 0 , 0.1) ;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0.5px rgb(255, 0, 0) solid;
    height:450px;
}

.img-card{
    height:44vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    background: rgb(255, 255, 255);
    transition:0.4s ease-in-out;
}
.paral{
    margin-top: 40px;
    height: 90vh;
    background: url(./resource/sneaker-cl1.jpg)center / cover fixed ;
    color: #fff;
    width: 100%;
}
.card-title{
    font-size: 30px;
    background: rgba(255, 0, 0, 0);
}

.icon{
    font-size: 5vh;
    margin-left: 30%;
    margin-bottom: 10vh;
    overflow-x: hidden;
    cursor: pointer;
}
.onScroll-card{
    transition: 0.5s;
    opacity: 1;
}
.card-container.card-container::-webkit-scrollbar{
        height: 2px;
        width: 1px;
        background: rgb(0, 0, 0);
        display: flex;
}
.card-container::-webkit-scrollbar-thumb:horizontal{
        background: rgb(255, 0, 0);
        
}
.card-container::-webkit-scrollbar{
    display:none;
}

footer{
    color:rgb(243, 243, 243);
    column-count: 2;
    background:#000000;
    display:flex;
}
footer ul{
    font-size: 1.5rem;
    font-weight: 900;
}
#ul-list{
    width:60%;
    
    display:flex;
}
footer ul li{
    margin:18px;
}
.list-item  a{
    font-size:1.1rem;  
    color:#ffffff; 
    letter-spacing: 2px;
    padding:8px;
    transition:0.5s ease-in-out;
}
.ul-list-header{
    font-size:2rem;
    letter-spacing: 2px;
}
footer .ul-list-header a{
    color:rgb(255, 255, 255);
    
}
.list-item a:hover{
    color:rgb(255, 255, 255);
    transition:0.5s;
    border:0.5px solid rgb(255, 255, 255);
}
.ul-list-header a:hover{
    text-decoration:underline;  
}
/* .icons-maps{
    width:30%;
} */
#list-1{
    width:50%;
}
#list-2{
    width:50%;  
}
.icon-container{
    display:flex-end;
    align-items: right;
    justify-content: right;
    text-align: right;
    align-self: right;
    justify-self:right;
    width:650px;
}
.icon-container i{
    color:gray;
    font-size: 2.5rem;
    transition:0.3s ease-in-out;
}
.icon-container i:hover{
    color:rgb(0, 0, 0);
    transition:0.3s;
}

#location-map{
    height:82%;
    overflow:hidden;
    margin-top:2%;
}
@media screen and (max-width:576px){
    body{
        max-width: 576px;
        overflow-x: hidden;
    }
    .heading{
        font-size: 5vh;
        margin: 0;
        padding-left: 10vh;
        width: max-content;
        margin-top: -5vh;
    }
    
    #list-1 ul li img{
        width:80vw;
    }
    #list-2{
        margin-left:-10%;
    }
    footer{
        width:100%; 
        overflow-x:hidden;
    }
    
    #list-1, #list-2{
        width:60vw;
        height:max-content;
        margin-left:-8%;
        z-index: 9999;
    }
    footer i{
        margin-top:100%;
    }
    .icon-container{
        width:100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    margin-left:-60%;
    }
    #location-map{
        margin-left:-60%;
        width:99vw;
        height:40vh;
    }
    .ul-list-header{
        font-size:1.2rem;
    }
    .backTop {
        margin-top:42vh;
        margin-left:-40%;
    }
    .icons-maps{
        z-index:8;
    }
    #button{
        margin: 0.5vh;
        background:black;
        font-size: 1.5vh;
        width:12vh;
        padding:1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    }
    .button-container{
        max-width:12vh;
        margin-top: -15%;
        margin-left: 70%;
    }
      .modal{
        top:50%;
        left:50%;
        width:400px;
    }
    form{
        margin-left: 10vw;
    }
    input{
        width:80vw;
    }
    .btn{
        width:20vw;
    }
    .modal-2{
        top:50%;
        left:50%;
        width:380px;
    }
    .modal-2 input{
        margin-left:-6vw;
    }
    .login-forgot-pass{
        margin-left: -50px;;
    }
    #submit-login{
        margin-left: 15vh;
    }
input{
        margin-left:-6%
    }
    .btn{
        width:25vw;
    }
    #submit-login{
        margin-left:25%;
        width:35vw;
    }
    
    .card-container{
        width:100vw;
        width:85vw;
        padding:1rem;
    }
    .card{
        height:55vh;
    }
    .img-card{
        height:38vh;
    }
    .shoe-container-slider{
        display:block;   
        margin:10px;
    }
    #ul-list{
        height:25vh;
    }
    .shoe-img img{
        margin:7.5px;
    }

    .shoe-img{
        width:95vw;

        overflow:hidden;
    }
    .shoe-content{
        width:97vw;
        margin:0;
    }
    .btnContainer{
        margin:50px;
    }
    .add-button-style{
        width:80vw;
        margin:35px;
        margin-top:-15px;
    }
    .card-container.card-container::-webkit-scrollbar{
        height:5px;
    }
}
