html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    
}
body::-webkit-scrollbar{
        height: 6px;
        width: 10px;
        background: rgb(0, 0, 0);
        display: flex;
}
body::-webkit-scrollbar-thumb{
        background: rgb(2,255,78);
background: linear-gradient(90deg, rgba(2,255,78,1) 0%, rgba(154,212,214,1) 100%);
        border-radius: 1px;
}
.mysideNav::-webkit-scrollbar{
    display: none;
}
body{
    color:rgb(255, 255, 255);
    background:#000000;
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:black;
}
.mysideNav a{
    font-size:4.6vh;
    text-decoration:none;
    text-decoration: none;
    display: block;
    padding: 8vh;
    text-align: center;
    background:#000;
    color: rgba(255,255,255,0.5 );
    transition:0.3s ease-out;
}
.mysideNav{
    display:block;  
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0px;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
}
.heading{
    text-align:center;
    font-size: 10vh;
    width:max-content;
    margin-left: 40%;
    margin-top: -8vh;
}
#sideNav{
    position: fixed;
}
.mysideNav a:hover{
    color: white; 
    transition: 0.5s;
}
#main{
    transition:0.5s;
    margin:0;
    padding:0;
    width:100%;
}
#load{
    border:black 5px solid;
    border-top:5px transparent solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    display: flex;
    animation:spin 1s linear infinite;
}
@keyframes spin{
        100%{
            transform:rotate(360deg);
        }
}
.center{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
#main{
    transition:0.5s;
    margin:0;
    padding:0;
    width:100%;
}
.card-container{
    overflow-x: scroll;
    width:100%;
    display:inline-flex;
    margin:1vh;
    
    /* border:0.5px solid black; */

}

.card-container::-webkit-scrollbar{
    display:none;
}
.card{
    margin:2vh;
    width:42vw;
    position: relative;
}
.card img{
    /* border:0.5px solid black; */
    height:65vh;
    padding:1rem;
}
.text{
    position: absolute;
    top: 50%;
    left:50%;
    color:white;
    transform: translate(-50%, -50%);
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.5s ease;
}
.card:hover .overlay{
    opacity: 1;
}
#a-1{
    background: rgb(250,121,156);
background: linear-gradient(90deg, rgba(250,121,156,1) 0%, rgba(207,115,115,1) 100%);
}
#a-2{
    background: rgb(138,234,146);
background: linear-gradient(90deg, rgba(138,234,146,1) 0%, rgba(128,173,160,1) 100%);   
}
#a-3{
    background: rgb(255,253,254);
background: linear-gradient(90deg, rgba(255,253,254,1) 0%, rgba(85,214,194,1) 100%);
}
#a-4{
    background: rgb(213,213,213);
background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(82,146,176,1) 100%);
}
#a-5{
    background: rgb(213,213,213);
background: linear-gradient(90deg, rgb(255, 73, 73) 0%, rgba(247,92,3,1) 100%);
}
#a-6{
    background: rgb(241,196,15);
background: linear-gradient(90deg, rgb(255, 0, 136) 0%, rgb(255, 33, 63) 100%);
}
#a-7{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(48,99,142,1) 90%);
}
#a-8{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(58,29,105,1) 100%);
}
#a-9{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,2,23,1) 100%);
}
#a-10{
    background: rgb(103,0,116);
background: linear-gradient(90deg, rgba(103,0,116,1) 0%, rgba(66,210,218,1) 100%);
}
#a-11{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgb(53, 122, 115) 100%);
}
#a-12{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(132,59,98,1) 100%);
}